<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>User Data Deletion Instruction &mdash; Size Adviser App</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>How to delete your data from Size Adviser app?</strong> <p>
                  In order to remove your data from Size Adviser,
                  please proceed to the Size Adviser app on your phone
                  and log into your account.
                </p><p>
                  Then open the Settings menu, Settings -> Delete my account & all my data.
                </p>
                <p>
                  All you data will be removed from our apps and servers.
                </p>
                <p>
                  Your Size Adviser Team.
                </p>
    </body>
</html>
